################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web.Client/obj
/Web.Client/bin/Debug/netcoreapp3.1
/Email.Service/obj
/.vs/Nomad
/Email.Service/bin/Debug/netcoreapp3.1
/Web.Client/wwwroot/images
/appsettings.json
